.grid {
    background-image: url(../img/01_services.jpg)
    overflow: hidden;
    margin: 0;
    padding: 0 0 0 0;
    width: 100%;
    list-style: none;
    text-align: center;
}
/* Common style */
.grid figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: -0.20em;
    width: 33.433%;
    height: 400px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.8;
}
.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption,
.grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.grid figure h2 span { font-weight: 800 }
.grid figure h2,
.grid figure p { margin: 0 }
.grid figure p {
    letter-spacing: 1px;
    font-size: 100%;
    margin-top: 40px;
}
/**************************
**** Portfolio Effects ****
**************************/
figure.effect-portfolio { background: rgba(0, 0, 0, 1) }
figure.effect-portfolio img { 
    min-width: 100%;
    height: -webkit-calc(100% + 40px);
    height: calc(100% + 40px);
}
figure.effect-portfolio figcaption { padding: 3em }
figure.effect-portfolio figcaption::before,
figure.effect-portfolio figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}
figure.effect-portfolio figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
figure.effect-portfolio figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
figure.effect-portfolio h2 {
    padding-top: 26%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}
figure.effect-portfolio p {
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}
figure.effect-portfolio img,
figure.effect-portfolio h2 {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}
figure.effect-portfolio img,
figure.effect-portfolio figcaption::before,
figure.effect-portfolio figcaption::after,
figure.effect-portfolio p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-portfolio:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect-portfolio:hover figcaption::before,
figure.effect-portfolio:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
figure.effect-portfolio:hover h2,
figure.effect-portfolio:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect-portfolio:hover h2 { color: #fed136 }
figure.effect-portfolio:hover figcaption::after,
figure.effect-portfolio:hover h2,
figure.effect-portfolio:hover p,
figure.effect-portfolio:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
@media screen and (max-width: 69.5em) { 
    .grid figure { width: 50% }
    .grid figure figcaption { font-size: 120% }
}
@media screen and (max-width: 41.5em) { 
    .grid figure { width: 100% }
}

.nivo-lightbox-theme-default .nivo-lightbox-title {
    font: 18px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    width: 100%;
    padding: 7px 15px;
    border-radius: 0;
    letter-spacing: 3px;
    color: #fec503;
}

.carousel-control.right span.fa, .carousel-control.left span.fa {
    border: 1px solid #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 2px 15px;
}
.carousel-control.right span.fa:hover,
.carousel-control.left span.fa:hover{
    border: 1px solid #FFBE00;
}

/**************************
***** Portfolio Modal *****
**************************/
.btn-primary {
    color: #FFFFFF;
    background-color: #000000;
    border-color: rgba(255, 186, 0, 0);
    border-radius: 0px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: normal;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #FFBE00;
    border-color: #FFD000;
}
.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    color: #000;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.portfolio-modal .modal-content h2 {
    margin-bottom: 45px;
    font-size: 3em;
}
.portfolio-modal .modal-content p { margin-bottom: 30px }
.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}
.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    letter-spacing: 2px;
    color: #000000;
    line-height: 10px;
    text-transform: none;
    -webkit-font-smoothing: antialiased !important;
}
.portfolio-modal .modal-content img { margin-bottom: 30px }
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}
.portfolio-modal .close-modal:hover { opacity: .3 }
.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}